##  Name:  Anjani Bonda
##  Assignment:  Week 6 (Part1)
##  Date:  July 17, 2022

In [72]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Import the housing data as a data frame and ensure that the data is loaded properly.

In [73]:
train = pd.read_csv("train.csv")
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [74]:
# Check for missing values

percent_missing = 100 * train.isnull().sum()/len(train)
missing_df = pd.DataFrame({'column_name':train.columns,
                                'percent_missing':percent_missing})

#### Drop the "Id" column and any features that are missing more than 40% of their values.

In [75]:
missing_df = missing_df[percent_missing>=40]

In [76]:
missing_df = missing_df.sort_values("percent_missing", axis = 0, ascending = False)

In [77]:
missing_df

             column_name  percent_missing
PoolQC            PoolQC        99.520548
MiscFeature  MiscFeature        96.301370
Alley              Alley        93.767123
Fence              Fence        80.753425
FireplaceQu  FireplaceQu        47.260274

In [78]:
# Drop Id column
train = train.drop('Id',axis=1)

In [79]:
train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [80]:
# Keep columns with >=60% valid data available 
df = train.dropna(how='any',axis=1,thresh=train.shape[0]*0.6)

In [81]:
df.shape

(1460, 75)

6 columns have been deleted.  These include those with more than 40% missing values along with the Id column.

In [82]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

#### For numerical columns, fill in any missing data with the median value.
#### For categorical columns, fill in any missing data with the most common value (mode).

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   LotShape       1460 non-null   object
 6   LandContour    1460 non-null   object
 7   Utilities      1460 non-null   object
 8   LotConfig      1460 non-null   object
 9   LandSlope      1460 non-null   object
 10  Neighborhood   1460 non-null   object
 11  Condition1     1460 non-null   object
 12  Condition2     1460 non-null   object
 13  BldgType       1460 non-null   object
 14  HouseStyle     1460 non-null   object
 15  OverallQual    1460 non-null   int64
 16  OverallCond    1460 non-null   int64
 17  YearBuilt      1460 non-null   int64
 18  YearRemodAdd   1460 non-null   int64
 19  RoofStyle      1460 non-null   object
 20  RoofMatl       1460 non-null   object
 21  Exterior1st    1460 non-null   object
 22  Exterior2nd    1460 non-null   object
 23  MasVnrType     1452 non-null   object
 24  MasVnrArea     1452 non-null   float64
 25  ExterQual      1460 non-null   object
 26  ExterCond      1460 non-null   object
 27  Foundation     1460 non-null   object
 28  BsmtQual       1423 non-null   object
 29  BsmtCond       1423 non-null   object
 30  BsmtExposure   1422 non-null   object
 31  BsmtFinType1   1423 non-null   object
 32  BsmtFinSF1     1460 non-null   int64
 33  BsmtFinType2   1422 non-null   object
 34  BsmtFinSF2     1460 non-null   int64
 35  BsmtUnfSF      1460 non-null   int64
 36  TotalBsmtSF    1460 non-null   int64
 37  Heating        1460 non-null   object
 38  HeatingQC      1460 non-null   object
 39  CentralAir     1460 non-null   object
 40  Electrical     1459 non-null   object
 41  1stFlrSF       1460 non-null   int64
 42  2ndFlrSF       1460 non-null   int64
 43  LowQualFinSF   1460 non-null   int64
 44  GrLivArea      1460 non-null   int64
 45  BsmtFullBath   1460 non-null   int64
 46  BsmtHalfBath   1460 non-null   int64
 47  FullBath       1460 non-null   int64
 48  HalfBath       1460 non-null   int64
 49  BedroomAbvGr   1460 non-null   int64
 50  KitchenAbvGr   1460 non-null   int64
 51  KitchenQual    1460 non-null   object
 52  TotRmsAbvGrd   1460 non-null   int64
 53  Functional     1460 non-null   object
 54  Fireplaces     1460 non-null   int64
 55  GarageType     1379 non-null   object
 56  GarageYrBlt    1379 non-null   float64
 57  GarageFinish   1379 non-null   object
 58  GarageCars     1460 non-null   int64
 59  GarageArea     1460 non-null   int64
 60  GarageQual     1379 non-null   object
 61  GarageCond     1379 non-null   object
 62  PavedDrive     1460 non-null   object
 63  WoodDeckSF     1460 non-null   int64
 64  OpenPorchSF    1460 non-null   int64
 65  EnclosedPorch  1460 non-null   int64
 66  3SsnPorch      1460 non-null   int64
 67  ScreenPorch    1460 non-null   int64
 68  PoolArea       1460 non-null   int64
 69  MiscVal        1460 non-null   int64
 70  MoSold         1460 non-null   int64
 71  YrSold         1460 non-null   int64
 72  SaleType       1460 non-null   object
 73  SaleCondition  1460 non-null   object
 74  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(34), object(38)
memory usage: 855.6+ KB

In [84]:
# Select the numeric and categorical columns and check for the missing values

df_num = df.select_dtypes(exclude='object')
df_objs = df.select_dtypes(include='object')

In [85]:
# Find Missing numeric columns
df_num_missing = df_num.isnull().sum()
df_num_missing = df_num_missing[df_num_missing>0]
df_num_missing

LotFrontage    259
MasVnrArea       8
GarageYrBlt     81
dtype: int64

In [86]:
# Find missing categorical columns.
df_objs_missing = df_objs.isnull().sum()
df_objs_missing = df_objs_missing[df_objs_missing>0]
df_objs_missing

MasVnrType       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
GarageType      81
GarageFinish    81
GarageQual      81
GarageCond      81
dtype: int64

In [87]:
# Fill numeric missing columns with their median value

num_cols = ['LotFrontage','MasVnrArea','GarageYrBlt']
df[num_cols] = df[num_cols].fillna('median')

/var/folders/0c/spq36xkd5vz7k9940sd5prhw0000gn/T/ipykernel_57558/3488124845.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[num_cols] = df[num_cols].fillna('median')

In [88]:
df[num_cols].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [89]:
cat_cols = ['MasVnrType', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1','BsmtFinType2', 'Electrical', 'GarageType', 'GarageFinish','GarageQual', 'GarageCond']

In [90]:
# Fill categorical missing columns with their mode
df[cat_cols]=df[cat_cols].fillna(df.mode().iloc[0])

/var/folders/0c/spq36xkd5vz7k9940sd5prhw0000gn/T/ipykernel_57558/1400231605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cat_cols]=df[cat_cols].fillna(df.mode().iloc[0])

In [91]:
df.isnull().sum()

MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
Street           0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 75, dtype: int64

#### Convert the categorical columns to dummy variables.

In [92]:
data = pd.get_dummies(df,drop_first=True)

In [93]:
data.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,8450,7,5,2003,2003,706,0,150,856,...,0,0,0,0,1,0,0,0,1,0
1,20,9600,6,8,1976,1976,978,0,284,1262,...,0,0,0,0,1,0,0,0,1,0
2,60,11250,7,5,2001,2002,486,0,434,920,...,0,0,0,0,1,0,0,0,1,0
3,70,9550,7,5,1915,1970,216,0,540,756,...,0,0,0,0,1,0,0,0,0,0
4,60,14260,8,5,2000,2000,655,0,490,1145,...,0,0,0,0,1,0,0,0,1,0

#### Split the data into a training and test set, where the SalePrice column is the target.

In [94]:
x = data.drop('SalePrice',axis=1)
y = data['SalePrice']

In [95]:
# Check the X dataframe
x.head()

,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,8450,7,5,2003,2003,706,0,150,856,...,0,0,0,0,1,0,0,0,1,0
1,20,9600,6,8,1976,1976,978,0,284,1262,...,0,0,0,0,1,0,0,0,1,0
2,60,11250,7,5,2001,2002,486,0,434,920,...,0,0,0,0,1,0,0,0,1,0
3,70,9550,7,5,1915,1970,216,0,540,756,...,0,0,0,0,1,0,0,0,0,0
4,60,14260,8,5,2000,2000,655,0,490,1145,...,0,0,0,0,1,0,0,0,1,0

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=101)

#### Run a linear regression and report the R2-value and RMSE on the test set.

In [98]:
# Import linear regression algorithm

from sklearn.linear_model import LinearRegression
Lr = LinearRegression()
Lr.fit(x_train,y_train)

LinearRegression()

In [99]:
y_pred = Lr.predict(x_test)

In [100]:
# Find RMSE and R Square
# Evaluate the performance 

from sklearn.metrics import mean_squared_error,r2_score

In [101]:
MSE = mean_squared_error(y_test,y_pred).round(2)
RMSE = np.sqrt(MSE).round(2)
rsquare = Lr.score(x_train,y_train).round(2)

In [102]:
MSE

1936927547041261.0

In [103]:
RMSE

44010539.05

In [104]:
rsquare

0.98

#### Fit and transform the training features with a PCA so that 90% of the variance is retained (see section 9.1 in the Machine Learning with Python Cookbook).

In [105]:
# Load the libraries

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [106]:
# Standardize the features
scale = StandardScaler()
x_train_scale = scale.fit_transform(x_train)

In [107]:
# Create a PCA that will retain 90% of variance
pca = PCA(n_components=0.99,whiten=True)

In [108]:
# Conduct PCA
features_pca = pca.fit_transform(x_train_scale)

#### How many features are in the PCA-transformed matrix?

In [109]:
# Show results of no. of features in Original and Reduced Dataset

print("Original number of features:",x_train_scale.shape[1])
print("Reduced number of features:",features_pca.shape[1])

Original number of features: 763
Reduced number of features: 604

#### Transform but DO NOT fit the test features with the same PCA.

In [110]:
# Transform test features
x_test_scale = scale.transform(x_test)

#### Repeat step 7 with your PCA transformed data.

In [111]:
Lr.fit(x_train_scale,y_train)

LinearRegression()

In [112]:
y_pred2 = Lr.predict(x_test_scale)

In [113]:
MSE1 = mean_squared_error(y_test,y_pred2).round(2)
RMSE1 = np.sqrt(MSE1).round(2)
rsquare1 = Lr.score(x_train_scale,y_train).round(2)

In [114]:
MSE1

9.265913051243265e+35

In [115]:
RMSE1

9.625961277318368e+17

In [116]:
rsquare1

0.98

#### Take your original training features (from step 6) and apply a min-max scaler to them.

In [117]:
#instantiate MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [118]:
x_train_scaler = scaler.fit_transform(x_train)

#### Find the min-max scaled features in your training set that have a variance above 0.1 (see Section 10.1 in the Machine Learning with Python Cookbook).

In [119]:
# Create Thresholder
from sklearn.feature_selection import VarianceThreshold
thresholder = VarianceThreshold(threshold=.1)

In [120]:
# Create features with 0.1 matrix
created_features = thresholder.fit_transform(x_train_scaler)

In [121]:
print("Original number of features:",x_train_scaler.shape[1])
print("Number of features with variance above 0.1 is equal to:",created_features.shape[1])

Original number of features: 763
Number of features with variance above 0.1 is equal to: 44

#### Transform but DO NOT fit the test features with the same steps applied in steps 11 and 12.

In [122]:
x_test_scaler = scaler.transform(x_test)

In [123]:
# Run Linear Regression on created features.
Lr.fit(x_train_scaler,y_train)

LinearRegression()

In [124]:
y_pred3 = Lr.predict(x_test_scaler)

In [125]:
MSE2 = mean_squared_error(y_test,y_pred3).round(2)
RMSE2 = np.sqrt(MSE2).round(2)
rsquare2 = Lr.score(x_train_scaler,y_train).round(2)

In [126]:
MSE2

3.869327879593705e+29

In [127]:
RMSE2

622039217380520.5

In [128]:
rsquare2

0.98

#### Summarize your findings.

In [129]:
R_Square_All_Features = rsquare
R_Square_PCA_Scaler = rsquare1
R_Square_MinMax = rsquare2
MSE_All_Features = MSE
MSE_PCA_Scaler = MSE1
MSE_MinMax = MSE2
RMSE_All_Features = RMSE
RMSE_PCA_Scaler =RMSE1
RMSE_MinMax = RMSE2

In [130]:
summary = {'All_Features':[R_Square_All_Features,MSE_All_Features,RMSE_All_Features],
           'StandardScaler':[R_Square_PCA_Scaler,MSE_PCA_Scaler,RMSE_PCA_Scaler],
           'MinMax':[R_Square_MinMax,MSE_MinMax,RMSE_MinMax]}
          
Metrics = pd.DataFrame(summary,index=['R_square','MSE','RMSE'])

print(Metrics)

          All_Features  StandardScaler        MinMax
R_square  9.800000e-01    9.800000e-01  9.800000e-01
MSE       1.936928e+15    9.265913e+35  3.869328e+29
RMSE      4.401054e+07    9.625961e+17  6.220392e+14

The results shows that when all the features were used for the training, the coefficient of determination is the same against when the features were reduced through StandardScaler and MinMax. This shows that using all the features for training is not required. The MSE is much lower with All_features than when MinMax scaler Reduction  were used and  compared with PCA standard scaler. Similarly, the RMSE is at its lowest with All_Features. Therefore, based on above results, it is better not to perform feature reduction before training our models.