## Activity 11

### Task 1: Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is OK.

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("petsdb")

In [3]:
# A tiny function to ensure successful connection
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
print(is_opened(conn))

True

In [5]:
conn.close()

In [6]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### Task 2: What are the different age groups in the persons database

In [8]:
conn = sqlite3.connect("petsdb")
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall()) # print list of tables in petsdb

[('persons',), ('pets',)]

In [9]:
for row,ppl, age in c.execute("SELECT ROW_NUMBER () OVER ( ORDER BY count(*),age) RowNum, count(*) as ppl, age FROM persons GROUP BY age ORDER BY count(*)"):
    print("{}. We have a count of {} people with age {}".format(row,ppl, age))

1. We have a count of 1 people with age 6
2. We have a count of 1 people with age 7
3. We have a count of 1 people with age 9
4. We have a count of 1 people with age 13
5. We have a count of 1 people with age 19
6. We have a count of 1 people with age 27
7. We have a count of 1 people with age 30
8. We have a count of 1 people with age 32
9. We have a count of 1 people with age 33
10. We have a count of 1 people with age 37
11. We have a count of 1 people with age 40
12. We have a count of 1 people with age 42
13. We have a count of 1 people with age 49
14. We have a count of 1 people with age 50
15. We have a count of 1 people with age 58
16. We have a count of 1 people with age 59
17. We have a count of 1 people with age 60
18. We have a count of 1 people with age 61
19. We have a count of 1 people with age 63
20. We have a count of 1 people with age 67
21. We have a count of 1 people with age 69
22. We have a count of 1 people with age 70
23. We have a count of 1 people with age 72
24. We have a count of 2 people with age 5
25. We have a count of 2 people with age 11
26. We have a count of 2 people with age 16
27. We have a count of 2 people with age 17
28. We have a count of 2 people with age 23
29. We have a count of 2 people with age 25
30. We have a count of 2 people with age 34
31. We have a count of 2 people with age 39
32. We have a count of 2 people with age 44
33. We have a count of 2 people with age 48
34. We have a count of 2 people with age 51
35. We have a count of 2 people with age 52
36. We have a count of 2 people with age 53
37. We have a count of 2 people with age 54
38. We have a count of 2 people with age 62
39. We have a count of 2 people with age 65
40. We have a count of 2 people with age 66
41. We have a count of 3 people with age 8
42. We have a count of 3 people with age 12
43. We have a count of 3 people with age 18
44. We have a count of 3 people with age 22
45. We have a count of 3 people with age 24
46. We have a count of 3 people with age 31
47. We have a count of 3 people with age 35
48. We have a count of 3 people with age 36
49. We have a count of 3 people with age 68
50. We have a count of 3 people with age 74
51. We have a count of 4 people with age 14
52. We have a count of 4 people with age 71
53. We have a count of 5 people with age 73

### Task 3: Which age group has maximum number of people?

In [10]:
for ppl, age in c.execute("with cte_data as (SELECT ROW_NUMBER () OVER ( ORDER BY count(*),age) RowNum, count(*) as ppl, age FROM persons GROUP BY age ORDER BY count(*)) SELECT ppl, age FROM    cte_data WHERE   RowNum = (SELECT MAX(RowNum)  FROM cte_data)"):
    print("Highest count of people is {} that belong to age group of {}".format(ppl, age))

Highest count of people is 5 that belong to age group of 73

### Task 4: How many people do not have a full name (Last name is blank/null)

In [11]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print("Count of persons whose last_name is null - {}".format(row[0]))

Count of persons whose last_name is null - 60

### Task 5: How many people has more than one pet? (*)

In [12]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("People has more than one pets - {}".format(row[0]))

People has more than one pets - 43

### Task 6: How many pets have received treaments?

In [13]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print("count of pets have received treament - {}".format(row[0]))

count of pets have received treament - 36

### Task 7: How many pets have received treatment that we know the type of?

In [14]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null") # pet_type not null will fetch the list of known pet type
for row in res:
    print("count of known pet type have received treament - {}".format(row[0]))

count of known pet type have received treament - 16

### Task 8: How many pets are there from the city called "east port"

In [15]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print("count of pets from city='east port' - {}".format(row[0]))

count of pets from city='east port' - 49

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [16]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print("count of pets from city='east port' and who received a treatment - {}".format(row[0]))

count of pets from city='east port' and who received a treatment - 11